<div class="user-management-panel">

  <div class="panel-header">
    <h2>User Management</h2>
    <a routerLink="/admin/users/new" class="add-user-btn">+ Add User</a>
  </div>

  <table>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.job_title }}</td>
        <td>{{ user.access_level }}</td>
        <td>
          <button class="edit-btn">Edit</button>
          <button
            class="delete-btn"
            (click)="promptDeleteUser(user.id, user.first_name + ' ' + user.last_name)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-confirm-modal
  [isVisible]="showDeleteConfirmModal"
  title="Confirm Deletion"
  [message]="'Are you sure you want to delete the user \'' + userToDeleteName + '\'?'"
  confirmButtonText="Delete User"
  cancelButtonText="Cancel"
  (confirmed)="confirmDelete()"
  (cancelled)="cancelDelete()">
</app-confirm-modal>